body{
    display: grid;   
}
.mainWorkArea{
    width: 50%;
    height: 500px;
    display: grid;
}
.card-container{
    display: grid;
    margin: 20px 40px;
    padding: 20px 40px;
    height: 400px;
    width:auto;
    grid-template-columns: auto auto;
    justify-content: space-between;
    grid-column-gap: 25px;
    background:rgb(219,219,219);
    border-radius: 10px;
    box-shadow: 0 0 8px 0px black;
}