body{
    background-image: url('../img/showmeet.jpg');
    background-size: 100% 100%;
}
.meet-area{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto auto;
}
.meet-dets{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.90);
    padding:10px 20px;
}
.meet-dets:hover{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgba(0, 0, 0, 0.97);
    padding:10px 20px;
}

.meet-attendee{
    min-height: 500px;
    font-weight:600;
    margin: 0 1px;
    padding: 10px 20px;
    border-left: 1px solid black;
}

.meet-mom{
    min-height: 500px;
    margin: 10px 20px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.76);
}

.meet-item{
    flex: 0 0 calc(100%/2);
    color: white;
}

.editBtn, .deleteBtn, #addBtn, #attendBtnActive, #updateBtn{
    display: inline-block;
    color:white;
    background: rgb(17, 17, 17);
    padding: 6px 10px;
    border: none;
    border-radius: 2px;
}
.attendBtnInactive{
    display: inline-block;
    color:white;
    background: rgba(17, 17, 17, 0.5);
    padding: 6px 10px;
    border: none;
    border-radius: 2px;
}