.meet-area{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    grid-template-rows: auto auto;
}
.meet-dets{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgb(19, 19, 139);
    border-bottom: 2px solid rgb(27, 27, 194);
    padding:10px 20px;
}

.meet-attendee{
    min-height: 500px;
    margin: 0 1px;
    padding: 10px 20px;
    border-left: 1px solid black;
}

.meet-mom{
    min-height: 500px;
    margin: 0 1px;
    padding: 10px 20px;
    border-right: 1px solid black;
}

.meet-item{
    flex: 0 0 calc(100%/2);
    color: white;
}

.editBtn, .deleteBtn, #addBtn, #attendBtnActive, #updateBtn{
    display: inline-block;
    color:white;
    background: rgb(0,123,255);
    padding: 6px 10px;
    border: none;
    border-radius: 2px;
}
.attendBtnInactive{
    display: inline-block;
    color:white;
    background: rgba(0,123,255, 0.5);
    padding: 6px 10px;
    border: none;
    border-radius: 2px;
}